body {
  font-family: sans-serif;
  padding: 0;
}

/* Other things */

.app-misc-container {
  padding: 1rem;
}

.app-message {
  padding: 1rem;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 3px;
  background-color: white;
}

.app-message--info {
  border-color: rgb(151, 171, 190);
  background-color: rgb(229, 240, 251);
}

.app-message--danger {
  border-color: rgb(220, 126, 104);
  background-color: rgb(251, 231, 229);
}

.app-button {
  padding: 0.5em;
}

/* Search Form */

.tcg-proxy__form {
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  overflow: hidden;

  background-color: rgba(255, 255, 255, 0.9);

  opacity: 0;
  transition: opacity 0.3s;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 1.5rem;
}

.tcg-proxy__form:hover {
  opacity: 1;
}

@media print {
  .tcg-proxy__form {
    display: none;
  }
}

.tcg-proxy__form > * {
  margin: 0;
}

.tcg-proxy__form > * + * {
  margin-top: 1rem;
}

.tcg-proxy__card-list {
  flex: 1 1 auto;
}

.tcg-proxy__form-controls {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.tcg-proxy__form-controls > * {
  flex: 1 1 auto;
}

.tcg-proxy__form-controls > * + * {
  margin-left: 0.5rem;
}

/* The Card! */

.tcg-proxy__card {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;

  position: relative;
}

.tcg-proxy__card::before,
.tcg-proxy__card::after {
  content: " ";
  display: block;
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tcg-proxy__card::before {
  border: 0.05in white dashed;
}

.tcg-proxy__card::after {
  border: 0.01in black dashed;
}
